* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  .container {
    background-color: springgreen;
    max-width: 300px;
    height: 600px;
    padding: 30px;
    margin-left: 2px;

    margin-top: 100px;
  }
  .btn{
    width: 150px;
  }
  .title {
    text-align: center;
    font-size: 20px;
    margin-top: 0;
    color: white;
  }
  p{
    justify-content: left;
    color: #fff;
    padding: 10px ;
    
  }

  .form1{
    background-color: #fff;
    flex: 10%;
    max-width: 700px;
    margin-left: 200px;
  
    padding: 30px;
    margin-left: 2px;
    height: 600px;
    margin-top: 1px;
    background-color: #fff;
  }
  
  .contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .contact-info p {
    margin: 0;
    font-size: 18px;
    line-height: 1.5;
    justify-content: left;
  }
  
  .contact-info a {
    color: springgreen;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
  }
  
  .contact-form label {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .contact-form input[type="text"],
  .contact-form input[type="email"],
  .contact-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .contact-form textarea {
    resize: vertical;
  }
  
  .contact-form button {
    background-color: springgreen;
    color: #fff;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
  }
  
  .contact-form button:hover {
    background-color: #0056b3;
  }
  